h1{
text-align: center;
}
.new{
display: flex;
flex-direction: row;
padding: 0.5em;
}
.ab{
      background-color:darkorange;
      width: 270px;
      height: 300px;
      margin-left: 50px;
      
      box-sizing: border-box;

}
.bc{
     
 background-color:  cyan;  
 position: relative;
 margin-top: 15px;
 margin-left: 10px;
 margin-right: 10px;
 top:10px;
 width: 120px;
 height:  250px;
 box-sizing: border-box;
  

}
.ca{


    background-color:  cyan;  
    position: relative;
    left:100px;
margin-left: 30px;
bottom: 10px;
    top:0px;
    
    width: 120px;
    height:  250px;
    box-sizing: border-box;
     
   



}
.a{
      background-color: cyan;
      width: 200px;
      height: 200px;
      margin-left: 50px;
      
      

}

.b{

width: 10px;
height: 200px;


border: 10px solid darkorange;
box-sizing: border-box;
margin-left:45%;

}
.c{

    top:80px;
    position: relative;
    border: 10px solid darkorange;
    padding-right:80px;
    }
    
  .d{
      bottom: 10px;
      float:right;
      position: relative;
      border: 10px solid darkorange;
      padding-left: 90px;
  }